
body{
	background-color: #ddd;
}

/*CARTÃO DE VISITA*/
.cartao{
	width: 400px;
	height: 200px;
	margin-top: 50px;
	margin-left: 50px;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	border:1px solid rgba(100, 149, 237, 0.5);
}
/*NOME*/
.nome{
	font-size: 10px;
	margin-left: 50px;
	font-family: fonteNome;
	word-spacing: 5px;
}
/*FONTE DO NOME*/
@font-face{
	font-family: fonteNome;
	src:url(../fontes/UnicaOne-Regular.ttf);
}
/*ELEMENTO "P" DESENVOLVEDOR FRONT-END*/
.front{
	font-family: fontNome;
	font-size: 8px;
	margin-top: -10px;
	padding-left: 7px;
	text-decoration: underline;
}

/*REDES SOCIAIS*/
.redes-sociais{
	font-size: 10px; 
	margin-top: 10px;
	margin-left: 20px;
}
.sociais a{
	color:black;
	text-decoration: none;
	text-transform: uppercase;

}
.sociais li{
	padding-top: 10px;
	
}
/*ICONES REDES SOCIAIS*/
#insta{
	list-style-image: url(../img/Insta.png);
}
#twitter{
	list-style-image: url(../img/Twitter.png);
}
#youtube{
	list-style-image: url(../img/Youtube.png);
}
/*ICONES REDES SOCIAIS*/